body {
    margin: 0px;
}

a {
    color: blue;
}

button {
    cursor: pointer;
}

#page {
    height: calc(100vh - 16px);
    padding: 8px;
    display: flex;
    flex-direction: column;
}

#map-info {
    flex: none;
}

#map {
    flex-grow: 1;
}

#modal {
    background-color: rgba(153, 153, 153, 0.7);
    height: 100vh;
    width: 100vw;
    z-index: 1001;
    position: fixed;
    display: none;   
}

#modal-container {
    height: calc(100vh - 16px);
    width: calc(100vw - 16px);
    z-index: 1002;
    padding: 8px;
    display: flex;
    align-items: center;
    justify-content: center;
}

#modal-content {
    background-color: white;
    flex-grow: 1;
    max-width: 450px;
    z-index: 1003;
    border-radius: 5px;
    border-width: 2px;
    border-color: black;
    padding: 8px;
    display: flex;
    flex-direction: column;
}

#modal-content button {
    align-self: flex-end;
    background-color: white;
}